In [33]:
import pandas as pd

In [34]:
df=pd.read_csv("dwraf_stars.csv")
df.head()

   Unnamed: 0                      Star_name  Distance Mass  Radius
0           0  SDSS J000013.54+255418.6 [de]      46.1   48    0.99
1           1        2MASS J08283419-1309198       NaN  NaN     NaN
2           2        2MASS J00040288-6410358     192.0   19    1.63
3           3                      LHS 102BC       NaN  NaN     NaN
4           4        2MASS J00242463-0158201      37.7   79    1.09

In [35]:
df.columns

Index(['Unnamed: 0', 'Star_name', 'Distance', 'Mass', 'Radius'], dtype='object')

In [36]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.columns

Index(['Star_name', 'Distance', 'Mass', 'Radius'], dtype='object')

In [37]:
df=df.dropna()
df.head()

                       Star_name  Distance Mass  Radius
0  SDSS J000013.54+255418.6 [de]      46.1   48    0.99
2        2MASS J00040288-6410358     192.0   19    1.63
4        2MASS J00242463-0158201      37.7   79    1.09
6        2MASS J00274197+0503417     236.0   31    1.44
8         2MASSW J0030300-145033      87.2   54    0.98

In [38]:
df.dtypes

Star_name     object
Distance     float64
Mass          object
Radius       float64
dtype: object

In [39]:
df["Radius"]=df["Radius"]*0.102763

In [40]:
df["Mass"] =df["Mass"].apply(lambda x: x.replace('$', '').replace(',','')).astype('float')

In [41]:
df["Mass"]=df["Mass"]*0.000954588

In [43]:
df.head()

                       Star_name  Distance      Mass    Radius
0  SDSS J000013.54+255418.6 [de]      46.1  0.045820  0.101735
2        2MASS J00040288-6410358     192.0  0.018137  0.167504
4        2MASS J00242463-0158201      37.7  0.075412  0.112012
6        2MASS J00274197+0503417     236.0  0.029592  0.147979
8         2MASSW J0030300-145033      87.2  0.051548  0.100708